#playlist{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 5rem;
}

#playlister{
    background-color: rgba(211, 226, 238, 0.979);
    min-height: 100rem;
    width: 100%;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
}

.playlist-card{
    background-color: white;
    border-radius: 5px;
    width: 30%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
}

.playlist-category{
    font-weight: bolder;
}

.list-content{
    max-height: 100%;
    min-height: 85%;
}

.show-more{
    text-decoration: none;
    height: 1rem;
    background-color: transparent;
    color: rgb(13, 13, 253);
    border: none;
    cursor: pointer;
    outline: 0;
    font-weight: bolder;
}

.more-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.playlist-course-cover{
    width: 25%;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}