#brander{
    display: flex;
    width: 90vw;
    padding: 2rem 0;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 1rem;
}

#brander > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    transition: 1s;
}

.brand{
    width: 5rem;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
}

#brand-div{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}